/* Theo Economos
ITM 361 - Project 2
CSS File Extension
*/

/* --RESET-- */
*{margin: 0;padding: 0;}

/* --MAIN BLOCKS-- */

body {
	background-color: #FFEBCD;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	overflow-x: hidden;

}

header {
	color: #800000;
	text-align: center;
	margin-bottom: 3em;
	font-size: 1.25em;
	background-color: #778899;
	border-style: outset;
	border-color:#2F4F4F;
	border-width: .75em;
}

footer {
	text-align: center;
	padding: 2em;
	font-size: 1em;
}

h2 {
	color: #800000;
	padding: 1em;
	font-size: 1.75em;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 1.25em;
}

p {
	padding-left: 1em;
	padding: 1em;
	text-align: center;
	font-size: 1em;
}

img {
	display: block;
	margin: auto;
	max-width: 75%;
	max-height: auto;
	padding: .4em;
	background-color: #778899;
	border-style: outset;
	border-color:#2F4F4F;
	border-width: .25em;
}

ol {
	margin-left: 2em;
	margin-right: auto;
}

ul.resumeulmain {
	margin-left: 2em;
	margin-right: auto;
}

.resumeul-contact {
	text-align: center;
	list-style-type: none;
}

.genrelist {
	text-align: center;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: .2em;
	border-color: #2F4F4F;
	background-color: maroon;
}

li.job {
	color: maroon;
	font-size: 1.175em;
	list-style-type: none;
}


/* --NAV-- */

nav {
	padding:.6em;
	text-align: center;
	margin-top: .8em;
}

nav li {
	display:inline-block;
}

nav li a {
	font-family:Arial;
	font-size:.75em;
	text-decoration: none;
	float:left;
	padding:.625em;
	background-color: #333333;
	color:#ffffff;
	border-bottom:.0625em;
	border-bottom-color:#000000;
	border-bottom-style:solid;
}

nav li a:hover {
	background-color:#9B1C26;
	padding-bottom:.75em;
	border-bottom:.125em;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	margin:-.0625em;
}

/* END NAV */

/* --IDs-- */

#theo {
	text-align: center;
	padding: 1em;
	font-family:  "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
	font-size: 1.75em;
}

#youtubevid1 {
	display: block;
	text-align: center;
	max-width: 100%;
	height: auto;
}

#youtubevid {
	text-align: center;
	width: 75%;
	max-width: auto;
	max-height: auto;
}
